.layout_master {
  display: flex;
  align-items: flex-start;
}

.menubar {
  width: 300px;
  max-width: 300px;
  background-color: rgb(26, 26, 26);
  height: calc(100vh - 60px);
  overflow-y: scroll;
  position: sticky;
  top: 60px;
  padding: 1rem;
}

.main_area {
  background-color: rgba(255, 235, 205, 0.041);
  padding: 40px;
  width: 100%;
  margin-bottom: 60px;
}

.header {
  margin-bottom: 30px;
  color: blueviolet;
  text-transform: uppercase;
}

.heading h2 {
  color: blueviolet;
  margin-bottom: 30px;
}

@media (max-width: 768px){
    .menubar{
        display: none;
    }
    .main_area{
      padding: 20px;
    }
}
